#chat-dashboard {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 80vh;
  background: white;
}

#channels-list {
  /* background: lightblue; */
  border-right: 1px solid #eee;
}

#chat-ui {
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
}

#chat-form {
  position: absolute;
  bottom: -1px;
}

#chat-form,
#chat-form input {
  display: block;
  width: 100%;
}

#rw-chat-transcript {
  overflow-y: scroll;
  padding: 15px;
  max-height: 100%;
}

.channel-item {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.channel-item.active {
  background: #ddd;
}
.channel-item:hover {
  background: #eee;
}

/* .channel-item > nav {
  display: none;
}

.channel-item.active > nav {
  display: block;
} */

.channel-item nav a {
  text-decoration: none;
}

.channel-item > nav > ul > li {
  position: relative;
}

.channel-item .dropdown {
  display: none;
  position: absolute;
  background: white;
  padding: 10px;
  z-index: 10;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .5);
}

.chat-bubble {
  display: flex;
  padding: 3px;
  font-size: 1.4rem;
}

.chat-bubble.guest {
  flex-direction: row-reverse;
  text-align: right;
}

.chat-bubble-name {
  font-weight: bold;
  display: block;
}

.chat-bubble-avatar {
  border-radius: 50%;
  display: block;
  width: 42px;
  height: 42px;
  margin: 4px;
}

#firebase-keys-form label,
#firebase-keys-form input {
  display: block;
}

#firebase-keys-form input {
  margin-bottom: 25px;
}