/* #rw-chat-fab {
  background: red;
  position: fixed;
  bottom: 5%;
  right: 5%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 2px 5px black;
  border: 2px solid lightcoral;
  cursor: pointer;
}

#rw-chat-fab .dashicons {
  font-size: 4.5rem;
  color: white;
  height: 50px;
  width: 50px;
} */

#rw-chat-widget {
  display: block;
  border-radius: 4px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: white;
  max-width: 350px;
  overflow-y: hidden;
  box-shadow: 0px 0px 8px rgba(0,0,0,.5);
  z-index: 100;
}

#rw-chat-toolbar {
  padding: 5px;
  background-color: #ddd;
  text-align: right;
}

#rw-chat-toolbar button {
  height: 10px;
  background: transparent;
  outline: none;
  border: none;
}

#minimize-chat {
  float: right;
  background: transparent;
  outline: none;
}

#rw-chat-ui {
  display: none;
  position: relative;
}

#rw-chat-transcript {
  max-height: 50vh;
  overflow-y: scroll;
  padding: 0 5px 35px;
}

.chat-bubble {
  display: flex;
  padding: 3px;
  font-size: 1.4rem;
}

.chat-bubble.guest {
  flex-direction: row-reverse;
  text-align: right;
}

.chat-bubble-name {
  font-weight: bold;
  display: block;
}

.chat-bubble-avatar {
  border-radius: 50%;
  display: block;
  width: 42px;
  height: 42px;
  margin: 4px;
}
/* 
@media (max-width: 767px) {
  #rw-chat-widget {
    height: calc(90vw - 15px);
    width: calc(90vw - 15px);
    max-width: initial;
    max-height: initial;
  }
} */